.reactMarkdown {
  margin-top: 2rem;
  word-break: break-word;
  color: #212529;
}

.reactMarkdown h1 {
  font-size: 3.6rem;
  line-height: 4.2rem;
  margin: 0 0 2rem;
  padding: 5rem 0 0;
}

.reactMarkdown h2 {
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin: 0 0 2rem;
  padding: 5rem 0 0;
}

.reactMarkdown h3 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin: 0 0 2rem;
  padding: 5rem 0 0;
}

.reactMarkdown p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1rem 0;
}

.reactMarkdown ul,
.reactMarkdown ol {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 2rem;
  margin: 2rem 0 1.2rem;
}

.reactMarkdown ul {
  list-style: disc;
}

.reactMarkdown ol {
  list-style: decimal;
}

.reactMarkdown ul li,
.reactMarkdown ol li {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.reactMarkdown hr {
  margin: 2rem 0;
}

.reactMarkdown code {
  font-family: "pretendard";
  background-color: #e9ecef;
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
}

.reactMarkdown img {
  max-width: 100%;
  height: auto;
  margin: 1.5rem 0;
}

.reactMarkdown a {
  text-decoration: underline;
  color: #ffaa00;
}

.reactMarkdown pre {
  background-color: #fbfcfd;
  padding: 1em;
  margin: 0.5em 0px;
  line-height: 2rem;
  border-radius: 0.4rem;
  overflow: auto;
}

.reactMarkdown pre code {
  background-color: transparent;
  padding: 0;
}

.reactMarkdown blockquote {
  background-color: #f8f9fa;
  border-left: 0.5rem solid #ffaa00;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.reactMarkdown blockquote h1,
.reactMarkdown blockquote h2,
.reactMarkdown blockquote h3,
.reactMarkdown blockquote h4,
.reactMarkdown blockquote h5 {
  padding-top: 2rem;
}
