.adminSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 10rem;
  padding: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.8rem;
}

.adminSection .imageContainer .titleBox {
  margin-bottom: 3rem;
  text-align: center;
}

.adminSection .imageContainer .titleBox h2 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 900;
  color: #ffaa00;
}

.adminSection .imageContainer img {
  width: 30rem;
}

.adminSection .loginContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  padding: 5rem;
  border-radius: 1rem;
}

.adminSection .loginContainer a {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.adminSection .loginContainer h2 {
  font-size: 2.6rem;
  font-weight: 900;
  color: #ffaa00;
}

.adminSection form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "pretendard";
  text-align: center;
}

.adminSection form div {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.8rem;
}

.adminSection form div span {
  cursor: pointer;
}

.adminSection form input {
  flex: 1;
  font-size: 1.4rem;
  line-height: 3rem;
  border: 0;
  outline: none;
}

.adminSection form input::placeholder {
  color: #eee;
}

.button {
  background-color: #ffaa00;
  border: 0;
  padding: 1.5rem 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
}

.errorMessage {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  color: red;
  margin: 0.5rem 0;
  text-align: left;
}

@media (max-width: 1064px) {
  .adminSection {
    display: block;
    margin: 0;
    padding: 10rem;
  }

  .adminSection .imageContainer {
    text-align: center;
  }

  .adminSection .loginContainer {
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .adminSection {
    padding: 5rem 2rem;
  }

  .adminSection .loginContainer {
    padding: 5rem 2rem;
  }
}

@media (max-width: 668px) {
  .adminSection {
    margin: 2rem 0;
  }
}

@media (max-width: 480px) {
  .adminSection .imageContainer > img {
    max-width: 16rem;
  }

  .adminSection .loginContainer {
    padding: 5rem 0;
  }

  .adminSection .loginContainer h2 {
    font-size: 2.2rem;
  }
}
