@import url("./font.css");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Pretendard";
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  max-width: 144rem;
  margin: 0 auto;
  padding-top: 10rem;
}
