@import url("./font.css");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;

  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.rootSection {
  transition: all 0.2s;
}

#app {
  height: calc(100% - 10rem);
  min-height: calc(100dvh - 10rem);
  max-width: 144rem;
  margin: 0 auto;
  padding-top: 10rem;
}
