/* header */

.rootSection.dark header {
  background-color: rgba(18, 18, 18, 0.75);
  color: #fff;
  border-bottom: 0.1rem solid #4f4f4f;
}

.rootSection.dark header > section > article > a {
  color: #c8c8c8;
}

.rootSection.dark header .headerNavigation {
  background-color: #212121;
  border-left: 0.1rem solid #4f4f4f;
}

.rootSection.dark header .headerNavigation .navigation ul li,
.rootSection.dark header .headerNavigation .infoList li a {
  border-color: #4f4f4f;
}

.rootSection.dark header .navMenuBtn {
  color: #fff;
}

.rootSection.dark header .navMenuBtn path {
  stroke: #fff;
}

.rootSection.light {
  background-color: #fff;
  color: #000;
}

.rootSection.dark {
  background-color: #121212;
  color: #fff;
}

/* PostDetail 페이지 */

.rootSection.dark .leftSidebar {
  border-right: 0.1rem solid #4f4f4f;
}

.rootSection .leftSidebar::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  content: "";
  pointer-events: none;
  transition: background-color 0.2s ease;
}

.rootSection.dark .leftSidebar > ul > li > ul > li > a {
  color: #828282;
}

.rootSection.dark .leftSidebar > ul > li > ul > li > a:hover {
  color: #a5a5a5;
}

.rootSection.dark .leftSidebar > ul > li > ul > li > a[class="active"] {
  color: #ffaa00;
}

.rootSection.dark .reactMarkdown {
  color: #ececec;
}

.rootSection.dark .reactMarkdown code {
  background-color: #363636;
}

.rootSection.dark .reactMarkdown blockquote {
  background-color: #333;
}

.rootSection.dark .reactMarkdown pre {
  background-color: #4b4b4b;
}

.rootSection.dark .reactMarkdown pre code {
  background-color: transparent;
}

.rootSection.dark .contentEditorBtnBox {
  background-color: #2e2e2e;
}

.rootSection.dark .rightSidebar {
  color: #828282;
}

.rootSection.dark .rightSidebar > div > button > svg > path {
  fill: #828282;
}

.rootSection.dark .rightSidebar > div > button > span {
  color: #828282;
}

.rootSection.dark .rightSidebar > div > button:hover > svg > path {
  fill: #ffaa00;
}

/* Admin 페이지 */
.rootSection.dark .rightSidebar > div > button:hover > span {
  color: #ffaa00;
}

.rootSection.dark .adminSection input {
  color: #fff;
  background-color: #000;
}

/* Editor 페이지 */
.rootSection.dark .editorSection input[type="text"],
.rootSection.dark .editorSection textarea {
  color: #fff;
  background-color: #121212;
}

.rootSection.dark .editorSection .textareaBox {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.rootSection.dark .editorSection .editorPreview {
  background-color: #0c0c0c;
}
