.mainTitle {
  margin-top: 2.4rem;
}

.mainTitle h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 1.2rem;
}

.mainTitle p {
  font-size: 1.6rem;
  line-height: 2rem;
}

.mainPostTab {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 5rem;
}

.mainPostTab button {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;
  color: #828282;
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: "pretendard";
  padding: 1rem;
  border-radius: 1.2rem;
  transition: all 0.2s;
}

.mainPosts {
  padding: 3rem 0;
}

.mainPosts ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5.6rem;
  column-gap: 2rem;
}

.mainPosts ul li {
  width: 100%;
}

.mainPosts ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.mainPosts ul li a:hover img {
  transform: scale(1.1);
}

@media (max-width: 1280px) {
  .mainPosts ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .mainTitle h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media (max-width: 768px) {
  .mainPostTab button {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .mainPosts ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .mainTitle h2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    word-break: keep-all;
  }

  .mainTitle h2 br {
    display: none;
  }

  .mainPosts ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .mainPostTab {
    display: block;
  }

  .mainPostTab button {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
