.scrollButtons {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  max-width: 160rem;
  z-index: 999;
}

.scrollButtons button {
  position: absolute;
  right: 1.5rem;
  background-color: #ffaa00;
  border: none;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.scrollButtons .up {
  bottom: 6rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.scrollButtons .down {
  bottom: 2.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (max-width: 1440px) {
  .mainSection {
    padding: 0 2rem;
  }
}
