.header {
  border-bottom: 1px solid #e8e8e8;
  height: 10rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.header h1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin-right: 8.3rem;
}

.header h1 span {
  display: block;
}

.header .headerNavigation,
.header .headerInfo {
  display: flex;
  align-items: center;
}

.header .headerNavigation .navigation ul {
  display: flex;
  gap: 3.5rem;
}

.header .headerNavigation .navigation ul li {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

.header .headerInfo .infoList {
  display: flex;
  gap: 1.6rem;
  margin-right: 2.8rem;
}
