.header {
  position: fixed;
  width: 100%;
  height: 10rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  z-index: 999;
  box-sizing: border-box;
  transition: all 0.2s;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin-right: 8.3rem;
}

.header .logo .imgBox img {
  width: 4rem;
  height: 4rem;
}

.header .logo span {
  display: block;
}

.header .headerNavigation,
.header .headerInfo {
  display: flex;
  align-items: center;
}

.header .headerNavigation .navigation ul {
  display: flex;
  gap: 3.5rem;
}

.header .headerNavigation .navigation ul li {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

.header .headerInfo .infoList {
  display: flex;
  gap: 1.6rem;
  margin-right: 2.8rem;
}
