.header {
  position: fixed;
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid #e8e8e8;
  z-index: 999;
  box-sizing: border-box;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(0.8rem);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-right: 8.3rem;
}

.header .logo .imgBox img {
  width: 4rem;
  height: 4rem;
}

.header .logo span {
  display: block;
}

.headerInfoContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.header .headerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.header .headerNavigation .navigation ul {
  display: flex;
  gap: 3.5rem;
}

.header .headerNavigation .navigation ul li {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}

.header .headerNavigation .infoList {
  display: flex;
  gap: 1.6rem;
  margin-right: 2.8rem;
}

.header .headerNavigation .infoList li a span {
  display: none;
}

.header .headerInfo {
  display: flex;
  align-items: center;
}

.header .navMenuBtn {
  display: none;
}

.themeButton {
  display: none;
}

@media (max-width: 1440px) {
  .header {
    padding: 0 2rem;
  }
}

@media (max-width: 940px) {
  .header .navMenuBtn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 9999;
  }

  .header .headerNavigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100dvh;
    flex-direction: column;
    justify-content: normal;
    background-color: #fdfdfd;
    border-left: 0.1rem solid #e8e8e8;
    transition:
      opacity 0.2s ease-in-out,
      transform 0.3s ease-in-out;
    z-index: 9999;
  }

  /* .header .headerNavigation::before {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  } */

  .header .headerNavigation .navigation {
    width: 100%;
    padding-top: 10rem;
  }

  .header .headerNavigation .navigation ul li {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    border-bottom: 0.1rem solid #e8e8e8;
    text-align: center;
  }

  .header .headerNavigation .navigation ul li a {
    display: block;
  }

  .header .headerNavigation .navigation ul li:first-child {
    border-top: 0.1rem solid #e8e8e8;
  }

  .header .headerNavigation .infoList {
    width: 100%;
    flex-direction: column;
    gap: 0;
    margin-right: 0;
  }

  .header .headerNavigation .infoList li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e8e8e8;
  }

  .header .headerNavigation .infoList li a span {
    display: inline;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .switchThemeButton {
    position: fixed;
    top: 3.7rem;
    right: 10rem;
  }

  .searchBar {
    display: none;
    position: fixed;
    bottom: 2.5rem;
    left: 2rem;
  }
}

@media (max-width: 480px) {
  .switchThemeButton {
    display: none;
  }

  .themeButton {
    position: fixed;
    right: 10rem;
    display: block;
  }
}
