.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem;
  min-height: 80vh;
}

.pageTitle {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.content {
  width: 100%;
  max-width: 80rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
