.modalContainer {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

.title {
  font-size: 1.8rem;
  text-align: center;
  margin: 5rem 0 0;
}
.message {
  text-align: center;
  word-break: keep-all;
  margin: 2rem 0 3rem;
  line-height: 2rem;
}
.button {
  width: 100%;
  height: 5rem;
  background-color: #ffaa00;
  color: #fff;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
}
